header{
    display: flex;
    justify-content: center;
    text-decoration: underline green;
}

article{
    background-color: rgb(79, 128, 81);
    margin: 2%;
    width: 55%;
    height: 500px;
    display: flex;
    border-radius: 10px;
}

section{
    display: flex;
}

section aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}
section.causa{
    display: flex;
    justify-content: center;
}

footer{
    background-color: black;
    color: yellow;
}